<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', { title: title, constants: constants }); %>
</head>
<body>
<%- include('includes/header', { constants: constants }); %>
<div class="container">
    <div id="splash" class="d-flex align-items-center" style="height: 80vh;">
        <div class="container">
            <div class="row">
                <h1 class="text-center">Welcome, <%= constants.USER_NAME %>!</h1>
            </div>
            <div class="row">
                <p class="fs-2 text-center">This is <%= constants.APP_NAME %>.</p>
            </div>
        </div>
    </div>
</div>
<%- include('includes/footer', { constants: constants }); %>
<%- include('includes/closing-scripts'); %>
</body>
</html>
